<!--
  To minimize the amount of render-blocking preloading we're doing, we only
  preload the Latin characters from these fonts. This is an optimization for
  the fact that this site is primarily an English-language site. If non-Latin
  characters appear, then the full fonts will be loaded after initial page
  render.
-->
<link rel="preload" as="font" href="{{ "fonts/fira-sans/FiraSans-Regular-latin.woff2" | absURL }}" type="font/woff2" crossorigin>
<link rel="preload" as="font" href="{{ "fonts/fira-sans/FiraSans-Bold-latin.woff2" | absURL }}" type="font/woff2" crossorigin>

<!--
  This font subset contains exactly the necessary characters for the
  logo/wordmark, so it's quite cheap to preload.
-->
<link rel="preload" as="font" href="{{ "fonts/fira-sans/FiraSans-Black-logo.woff2" | absURL }}" type="font/woff2" crossorigin>
