<link rel="preload" as="font" href="{{ "fonts/fira-sans/FiraSans-Regular.woff2" | absURL }}" type="font/woff2" crossorigin>
<link rel="preload" as="font" href="{{ "fonts/fira-sans/FiraSans-Bold.woff2" | absURL }}" type="font/woff2" crossorigin>
<link rel="preload" as="font" href="{{ "fonts/fira-sans/FiraSans-Black.woff2" | absURL }}" type="font/woff2" crossorigin>
<link rel="preload" as="font" href="{{ "fonts/fira-sans/FiraSans-Italic.woff2" | absURL }}" type="font/woff2" crossorigin>
<link rel="preload" as="font" href="{{ "fonts/fira-sans/FiraSans-BoldItalic.woff2" | absURL }}" type="font/woff2" crossorigin>
