<link rel="preload" as="font" href="/fonts/fira-sans/FiraSans-Regular.ttf" type="font/ttf" crossorigin>
<link rel="preload" as="font" href="/fonts/fira-sans/FiraSans-Italic.ttf" type="font/ttf" crossorigin>
<link rel="preload" as="font" href="/fonts/fira-sans/FiraSans-Bold.ttf" type="font/ttf" crossorigin>
<link rel="preload" as="font" href="/fonts/fira-sans/FiraSans-BoldItalic.ttf" type="font/ttf" crossorigin>
<link rel="preload" as="font" href="/fonts/fira-sans/FiraSans-Black.ttf" type="font/ttf" crossorigin>
