{{ $filePath := replace .File.Path "\\" "/" }}
{{ $contentPath := print .Site.Params.docsRepo "/blob/" .Site.Params.docsRepoBranch "/content/" }}
{{ $url := print $contentPath $filePath }}

{{ if .Site.Params.options.multilingualMode }}
  {{ $url = print $contentPath .Lang "/" $filePath }}
{{ end }}

<p class="edit-page">
  <a href="{{ $url }}">
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" aria-hidden>
      {{ partial "use-icon.html" "pencil" }}
    </svg
    >Edit this page on GitHub
  </a>
</p>
