{{- $field := . -}}
{{- $id := $field.name | anchorize -}}
{{- $hasFields := gt (len (default (slice) $field.fields)) 0 -}}

{{ if $hasFields -}}
<div id="form-group-{{ $id }}" class="mb-3">
  <label for="field-list-{{ $id }}" class="form-label">{{ $field.label }}</label>
  <div class="field-help form-text">{{ $field.description | markdownify }}</div>
  <div id="field-list-{{ $id }}" class="field-list">Add file</div>
  <button class="btn btn-primary btn-sm mt-2" type="button">Add file</button>
</div>
{{ else -}}
<div id="form-group-{{ $id }}" class="mb-3">
  <label for="field-input-{{ $id }}" class="form-label">{{ $field.label }}</label>
  <input type="text" class="form-control" id="field-input-{{ $id }}" aria-describedby="field-help-{{ $id }}"{{ if $field.required }} required{{ end }}>
  <div class="invalid-feedback"></div>
  <div id="field-help-{{ $id }}" class="field-help form-text">{{ $field.description | markdownify }}</div>
</div>
{{- end }}
