{{- $category := .category -}}
{{- $parentId := .id -}}
{{- with .ctx -}}

  {{- $currentPage := . -}}

  <li class="mb-2">
    {{- $active := eq .Section $category -}}
    <button
      aria-controls="{{ $parentId }}-{{ $category }}-menu"
      aria-expanded="true"
      class="btn btn-toggle align-items-center rounded"
      data-bs-target="#{{ $parentId }}-{{ $category }}-menu"
      data-bs-toggle="collapse"
    >
      {{ humanize $category }}
    </button>
    <div class="collapse show pe-lg-4" id="{{ $parentId }}-{{ $category }}-menu">
      <ul class="btn-toggle-nav list-unstyled">
        {{ range (index .Site.Taxonomies $category) }}
          {{ $active := eq .Page.Title $currentPage.Title -}}
          <li>
            <a class="category-link d-flex {{ if $active }}active{{ end }}" href="{{ .Page.Permalink }}"
              ><span>{{ .Page.Title | title }}</span
              ><span class="badge bg-light text-dark fw-normal ms-auto"
                >{{ .Count }}</span
              ></a
            >
          </li>
        {{ end }}
      </ul>
    </div>
  </li>
{{- end }}
