<clipboard-copy
  value="{{ . }}"
  class="d-inline clipboard-copy-button"
  data-bs-toggle="tooltip"
  data-bs-placement="top"
  title="Copy"
  aria-label="Copy"
>
  <svg
    class="bi clipboard-copy-icon"
    width="16"
    height="16"
    fill="currentColor"
    aria-hidden="true"
  >
    {{ partial "use-icon.html" "clipboard" }}
  </svg>
  <svg
    class="bi copy-confirmed-icon"
    width="16"
    height="16"
    fill="currentColor"
    hidden="true"
    aria-hidden="true"
  >
    {{ partial "use-icon.html" "clipboard-check" }}
  </svg>
</clipboard-copy>
