{{- $displayLangColumn := false -}}

{{- range $file := .Params.files -}}
  {{- if $file.lang -}}
    {{- $displayLangColumn = true -}}
  {{- end -}}
{{- end -}}

<div id="artifact-files-table">
  {{ range $file := .Params.files -}}
  {{ if or (not (isset $file "hidden")) (not $file.hidden) }}

  {{ $prettyUrl := $file.url -}}

  {{ if strings.HasSuffix $file.url "/index.html" }}
    {{ $prettyUrl = strings.TrimSuffix "/index.html" $file.url | printf "%s/" }}
  {{ end }}
  <a href="{{ $prettyUrl }}" hreflang="{{ $file.lang }}" class="card artifact-file-card">
    <div class="card-body">
      <div class="card-text">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
              <svg
                class="me-3"
                width="22"
                height="22"
                fill="currentColor"
                aria-hidden="true"
              >
                {{ partial "use-icon.html" "file-earmark" }}
              </svg>
            </div>
            <div class="d-flex flex-column gap-1">
              <div>
                <span class="file-name">{{ $file.name }}</span>
                {{ if $file.lang }}
                <span class="file-lang">(<lang-name code="{{ $file.lang }}"></lang-name><noscript>{{ $file.lang }}</noscript>)</span>
                {{ end }}
              </div>
              <footer class="d-flex gap-2">
                <span class="file-extension">
                <!-- This needs to support files with multiple file extensions, like ".tar.gz" -->
                {{ delimit (append (split $file.filename "." | after 1) (slice "")) "." }}
                </span>
              </footer>
            </div>
          </div>
          <span class="file-type">File</span>
        </div>
      </div>
    </div>
  </a>
  {{ end }}
  {{ end }}

  {{ range $link := .Params.links }}

  {{- $url := urls.Parse $link.url -}}
  {{- $isArchive := partial "archive/is-archive-url.html" $url -}}
  <a href="{{ .url }}" class="card artifact-file-card">
    <div class="card-body">
      <div class="card-text">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
              <svg
                class="me-3"
                width="26"
                height="26"
                fill="currentColor"
                aria-hidden="true"
              >
                {{ partial "use-icon.html" "link-45deg" }}
              </svg>
            </div>
            <div class="d-flex flex-column gap-1">
              <div class="file-name">{{ $link.name }}</div>
              <footer class="link-domain d-flex gap-2">
                {{ if $isArchive }}
                <span class="d-flex align-items-center gap-1">
                  <svg
                    width="14"
                    height="14"
                    fill="currentColor"
                  >
                    <title>Archive Link</title>
                    {{ partial "use-icon.html" "archive-fill" }}
                  </svg>
                </span>
                {{ end }}
                {{ $url.Host }}
              </footer>
            </div>
          </div>
          <span class="file-type">Link</span>
        </div>
      </div>
    </div>
  </a>
  {{ end }}
</div>
