{{- $displayLangColumn := false -}}

{{- range $file := .Params.files -}}
  {{- if $file.lang -}}
    {{- $displayLangColumn = true -}}
  {{- end -}}
{{- end -}}

<table class="table my-0" id="artifact-files-table">
  <thead>
    <th class="w-25" scope="col">Type</th>
    <th scope="col">File</th>
    {{ if $displayLangColumn -}}
    <th scope="col">Language</th>
    {{- end }}
  </thead>
  <tbody>
    {{ range $file := .Params.files -}}
    {{- if or (not (isset $file "hidden")) (not $file.hidden) -}}
    <tr>
      <td>
        <div class="d-flex flex-align-start">
          <file-type-icon filename="{{ $file.fileName }}" media-type="{{ $file.mediaType }}" />
        </div>
      </td>
      <td>
        {{ $prettyUrl := $file.url -}}

        {{- if strings.HasSuffix $file.url "/index.html" -}}
          {{- $prettyUrl = strings.TrimSuffix "/index.html" $file.url | printf "%s/" -}}
        {{- end -}}

        <a class="me-1 float-start" href="{{ $prettyUrl }}" hreflang="{{ $file.lang }}">{{ $file.name }}</a>
      </td>
      {{ if $displayLangColumn -}}
      <td>
        {{ if $file.lang -}}
        <lang-name code="{{ $file.lang }}"/>
        {{- end }}
      </td>
      {{- end }}
    </tr>
    {{- end -}}
    {{ end -}}
  </tbody>
</table>
