{{- $manifest := resources.Get "manifest.json" | resources.ExecuteAsTemplate "site.webmanifest" . -}}

{{- $logoTransparent := resources.Get "images/logo-transparent.png" -}}
{{- $logoPadded := resources.Get "images/logo-padded.png" -}}

{{- $favicon16 := $logoTransparent.Resize "16x png" | resources.Copy "images/favicon-16x16.png" -}}
{{- $favicon32 := $logoTransparent.Resize "32x png" | resources.Copy "images/favicon-32x32.png" -}}
{{- $favicon64 := $logoTransparent.Resize "64x png" | resources.Copy "images/favicon-64x64.png" -}}
{{- $appleTouch := printf "180x png %s" .Site.Params.logoBackgroundFill | $logoPadded.Resize | resources.Copy "images/apple-touch-icon.png" -}}


<meta
  content="{{ $.Site.Params.themeColorLight }}"
  media="(prefers-color-scheme: light)"
  name="theme-color"
/>
<meta
  content="{{ $.Site.Params.themeColorDark }}"
  media="(prefers-color-scheme: dark)"
  name="theme-color"
/>
<link href="{{ $appleTouch.Permalink }}" rel="apple-touch-icon" sizes="180x180" type="image/png" />
<link href="{{ $favicon64.Permalink }}" rel="icon" sizes="64x64" type="image/png" />
<link href="{{ $favicon32.Permalink }}" rel="icon" sizes="32x32" type="image/png" />
<link href="{{ $favicon16.Permalink }}" rel="icon" sizes="16x16" type="image/png" />
<link crossorigin="use-credentials" href="{{ $manifest.Permalink }}" rel="manifest" />
