/*
Fix search suggestions not rendering properly when they contain inline markup.
 */

#suggestions > * {
  display: flex;
}

#suggestions span {
  display: block;
  font-size: $font-size-base;
}

/*
Fix the footer taking up too much vertical space on large displays when the
content doesn't push it down.
*/

body.home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.home .footer {
    margin-top: auto;
}

/*
Apply formatting similar to the search input to all form controls.
*/

.form-control {
    background: $gray-100;
    border: 1px solid transparent;
}

.form-control:focus {
    border: 1px solid $primary;
}

[data-dark-mode] .form-control {
    background: $body-overlay-dark;
    border: 1px solid transparent;
    color: $gray-300;
}

[data-dark-mode] .form-control:focus {
    border: 1px solid $link-color-dark;
}
