/*
In the base Doks theme, suggestions don't render properly when they contain
inline markup.
 */

#suggestions > * {
  display: flex;
}

#suggestions span {
  display: block;
  font-size: $font-size-base;
}
