.new-artifact form {
  .form-label {
    font-weight: 500;
  }

  :is(.form-label, .col-form-label) .required-label {
    color: $danger;
    margin-left: 0.25rem;
    vertical-align: middle;
  }
}

[data-dark-mode] .new-artifact form {
  :is(.form-label, .col-form-label) .required-label {
    color: $danger-dark;
  }
}
