.general-disclaimer {
  font-style: italic;
  font-size: $font-size-sm;
  text-align: center;
  max-width: 50rem;
  margin-top: 3rem;
  margin-bottom: 3em;
  margin-left: auto;
  margin-right: auto;
}

@include media-breakpoint-up(lg) {
  .general-disclaimer {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
}
