file-type-icon {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

@include media-breakpoint-up(sm) {
  file-type-icon {
    flex-direction: row;
  }
}

file-type-icon .extension-pill {
  @extend .badge, .rounded-pill, .bg-primary;
}
