.link-button {
  max-width: 18rem;
  margin-top: 2em;
  margin-bottom: 2em;
}

.link-button .link-button-arrow {
  transition: transform #{$btn-transition-duration * 2} ease-in-out;
}

.link-button:hover .link-button-arrow {
  transform: translateX(4px);
}

@include media-breakpoint-up(sm) {
  .link-button {
    margin-left: 2rem;
  }
}
