dl.schema-definition {
    > dt.schema-field-0 {
        margin-left: 0;
    }

    > dd.schema-field-0 {
        margin-left: 2em;
    }

    > dt.schema-field-1 {
        margin-left: 2em;
    }

    > dd.schema-field-1 {
        margin-left: 4em;
    }

    > dt.schema-field-2 {
        margin-left: 4em;
    }

    > dd.schema-field-2 {
        margin-left: 6em;
    }

    .badge.bg-secondary {
        background-color: transparent !important;
        color: $body-color;
        border: 1px solid $border-color;
    }

}

[data-dark-mode] dl.schema-definition {
    .badge.bg-secondary {
        color: $body-color-dark;
        border: 1px solid $border-dark;
    }
}
