dl.schema-definition {
  > dt.field-level-0 {
    margin-left: 0;
  }

  > dd.field-level-0 {
    margin-left: 2em;
  }

  > dt.field-level-1 {
    margin-left: 2em;
  }

  > dd.field-level-1 {
    margin-left: 4em;
  }

  > dt.field-level-2 {
    margin-left: 4em;
  }

  > dd.field-level-2 {
    margin-left: 6em;
  }

  .badge.bg-secondary {
    background-color: transparent !important;
    color: $body-color;
    border: 1px solid $border-color;
  }
}

[data-dark-mode] dl.schema-definition {
  .badge.bg-secondary {
    color: $body-color-dark;
    border: 1px solid $border-dark;
  }
}
