{{ define "main" }}
  <div class="row flex-xl-nowrap">
    <div class="col-lg-5 col-xl-4 docs-sidebar d-none d-lg-block">
      <nav aria-label="Main" class="docs-links">
        {{ partial "archive/sidebar.html" (dict "ctx" . "id" "list") }}
      </nav>
    </div>
    <div class="docs-content col-lg-11 mx-xl-auto">
      <div class="artifact-list-title">
        <h1 class="text-center">{{ .Title }}</h1>
        <p class="lead text-center d-lg-none">
          Welcome to the archive! If you're new here, check out the
          <strong>Collections</strong> below. You can also filter by
          <strong>Decades</strong> or <strong>Identities</strong>.
        </p>
        <p class="lead text-center d-none d-lg-block">
          Welcome to the archive! If you're new here, check out the
          <strong>Collections</strong> in the sidebar on the left. You can also
          filter by <strong>Decades</strong> or <strong>Identities</strong>.
        </p>
      </div>
      <main class="d-lg-none">
        {{ partial "archive/sidebar.html" (dict "ctx" . "id" "list") }}
      </main>
      <div class="d-none d-lg-flex justify-content-center">
        <svg
          width="200"
          height="200"
          fill="currentColor"
          id="artifacts-list-placeholder-icon"
          aria-hidden="true"
        >
          {{ partial "use-icon.html" "archive-fill" }}
        </svg>
      </div>
    </div>
  </div>
{{ end }}
