<nav class="doks-subnavbar py-2 sticky-lg-top" aria-label="Secondary navigation">
  <div class="container-xxl d-flex align-items-md-center">
    <form class="doks-search position-relative flex-grow-1 me-auto">
      <input id="search" class="form-control is-search" type="search" placeholder="Search docs..." aria-label="Search docs..." autocomplete="off">
      <div id="suggestions" class="shadow bg-white rounded d-none"></div>
    </form>

    <button class="btn doks-sidebar-toggle d-lg-none ms-3 order-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#doks-archive-nav" aria-controls="doks-archive-nav" aria-expanded="false" aria-label="Toggle archive navigation">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="doks doks-expand" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><title>Expand</title><polyline points="7 13 12 18 17 13"></polyline><polyline points="7 6 12 11 17 6"></polyline></svg>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="doks doks-collapse" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><title>Collapse</title><polyline points="17 11 12 6 7 11"></polyline><polyline points="17 18 12 13 7 18"></polyline></svg>
    </button>
  </div>
</nav>

<div class="container-xxl">
  <aside class="doks-sidebar">
    <nav id="doks-archive-nav" class="collapse d-lg-none" aria-label="Tertiary navigation">
      {{ partial "archive-sidebar.html" . }}
    </nav>
  </aside>
</div>
