{{ $data := partialCached "data/artifacts.html" . | transform.Unmarshal }}

{{ range $data }}
  {{ $page := dict
    "kind" "page"
    "title" .title
    "path" .slug
    "params" .
  }}
  {{ $.AddPage $page }}
{{ end }}
