<div class="card h-100">
  <div class="card-body">
    <h5 class="card-title mt-2"><a class="card-link stretched-link text-dark text-decoration-none" href="{{ .RelPermalink }}">{{ .Params.title | title }}</a></h5>
    <p class="card-text mb-2">{{ .Params.lead | safeHTML }}</p>
    {{ if or .Params.people .Params.years -}}
      <p class="card-text mt-2">
      {{ if .Params.years -}}
        <small>{{ .Params.years }}{{- if .Params.people }} • {{ end -}}</small>
      {{- end }}
      {{ if .Params.people -}}
        <small>
        {{ range $index, $type := .Params.people -}}
          {{- if gt $index 0 }}, {{ end -}}
          <a class="stretched-link position-relative" href="{{ "/people/" | relURL }}{{ . | urlize }}/">{{ . }}</a>
        {{- end }}
        </small>
      {{- end }}
      </p>
    {{ end -}}
  </div>
</div>
