{{ define "main" }}
<div class="row flex-xl-nowrap">
  <div class="col-lg-5 col-xl-4 docs-sidebar d-none d-lg-block">
    <nav class="docs-links" aria-label="Main navigation">
      {{ partial "archive-sidebar.html" . }}
    </nav>
  </div>
  <main class="docs-content col-lg-11 mx-xl-auto">
    <h1 class="text-center">{{ .Title }}</h1>
    <div class="row justify-content-center text-center">
      <p class="lead text-center">{{ .Params.lead | safeHTML }}</p>
      <p class="text-center">{{ .Params.years }}</p>
    </div>
    <div class="row justify-content-center">
      <table class="table">
        <thead>
          <th scope="col">File</th>
          <th scope="col">CID</th>
        </thead>
        <tbody>
        {{- range .Params.files }}
        {{- $gatewayUrl := printf "%s%s%s%s" "https://dweb.link/ipfs/" .cid "/?filename=" .filename -}}
        {{- $truncatedCid := printf "%s%s%s" (substr .cid 0 4) "..." (substr .cid (sub (strings.RuneCount .cid) 4)) -}}
          <tr>
            <td><a href="{{ $gatewayUrl }}">{{ .name }}</a></td>
            <td>
              <details>
                <summary>{{ $truncatedCid }}</summary>
                <span>{{ .cid }}</span>
              </details>
            </td>
          </tr>
        {{ end -}}
        </tbody>
      </table>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <h2>Identities</h2>
        <ul>
        {{- range $index, $type := .Params.identities }}
          <li><a href="{{ "/identities/" | relURL }}{{ . | urlize }}/">{{ . | title }}</a></li>
        {{ end -}}
        </ul>
      </div>
      <div class="col-md-4">
        <h2>Decades</h2>
        <ul>
        {{- range $index, $type := .Params.decades }}
          <li><a href="{{ "/decades/" | relURL }}{{ . | urlize }}/">{{ . }}</a></li>
        {{ end -}}
        </ul>
      </div>
      <div class="col-md-4">
        <h2>People</h2>
        <ul>
        {{- range $index, $type := .Params.people }}
          <li><a href="{{ "/people/" | relURL }}{{ . | urlize }}/">{{ . }}</a></li>
        {{ end -}}
        </ul>
      </div>
    </div>
  </main>
</div>
{{ end }}
