{{ define "main" }}
  <div class="row flex-xl-nowrap">
    <div class="col-lg-5 col-xl-4 docs-sidebar d-none d-lg-block">
      <nav class="docs-links" aria-label="Main">
        {{ partial "archive/sidebar.html" (dict "ctx" . "id" "list") }}
      </nav>
    </div>
    <div class="docs-content col-lg-11 mx-xl-auto">
      <div class="artifact-list-title">
        <h1 class="text-center">{{ .Title | title }}</h1>
      </div>
      <nav class="d-flex my-5 justify-content-center" aria-label="Pages">
        {{ template "_internal/pagination.html" . }}
      </nav>
      <main>
        <div class="row row-cols-1 row-cols-md-2 g-5">
          {{ range (.Paginate (.Pages.ByParam "from_year").Reverse).Pages }}
            <div class="col">{{ .Render "card" -}}</div>
          {{ end }}
        </div>
      </main>
      <nav class="d-flex my-5 justify-content-center" aria-label="Pages">
        {{ template "_internal/pagination.html" . }}
      </nav>
    </div>
  </div>
{{ end }}
