<div class="gateway-url-form card">
  <div class="card-body">
    <form>
      <div class="form-floating mb-3">
        <input class="form-control is-search gateway-url-cid-input">
        <label for="gateway-url-cid-input">CID</label>
      </div>

      <div class="form-floating mb-3">
        <input class="form-control is-search gateway-url-filename-input">
        <label class="form-label" for="gateway-url-filename-input">File Name</label>
      </div>

      <clipboard-copy class="btn btn-primary gateway-url-copy-button">Copy URL</clipboard-copy>

      <span hidden="true" class="text-muted fs-6 ms-2 gateway-url-confirmed-message">Copied!</span>
    </form>
  </div>
</div>
