{{- $blankArtifactFile := resources.Get "artifact.md" -}}
<div class="input-group">
  <script type="text/javascript">
    function open_pr_click_handler(value) {
      const button = document.getElementById("new-pr-button");
      const input = document.getElementById("new-pr-slug-input");
      button.href = "https://github.com/acearchive/acearchive.lgbt/new/main/?filename=content/archive/" + input.value + "/index.md&value=" + encodeURIComponent(value);
    }
  </script>
  <input type="text" class="form-control is-search" placeholder="URL slug" aria-label="URL slug" aria-describedby="new-pr-button" id="new-pr-slug-input">
  <a href="" class="btn btn-primary" type="button" id="new-pr-button" onclick="open_pr_click_handler({{ $blankArtifactFile.Content }})">Open PR</a>
</div>
