<div class="replayweb-url-form card">
  <div class="card-body">
    <form novalidate>
      <div class="row mb-2 needs-validated cid-input">
        <label class="col-sm-3 col-form-label" for="replayweb-url-cid-input-{{ .Ordinal }}"
          >CID</label
        >
        <div class="col">
          <input
            aria-describedby="invalid-feedback-cid-{{ .Ordinal }}"
            class="form-control"
            id="replayweb-url-cid-input-{{ .Ordinal }}"
            placeholder="bafkreiabz4zbkhaovm7cuchfka53bmzzgm5ebvohprahen6as3qg6wsb7y"
            required
          />
          <div class="invalid-feedback" id="invalid-feedback-cid-{{ .Ordinal }}"></div>
        </div>
      </div>

      <div class="row mb-2 needs-validated filename-input">
        <label class="col-sm-3 col-form-label" for="replayweb-url-filename-input-{{ .Ordinal }}"
          >File Name</label
        >
        <div class="col">
          <input
            aria-describedby="invalid-feedback-filename-{{ .Ordinal }}"
            class="form-control"
            id="replayweb-url-filename-input-{{ .Ordinal }}"
            pattern="^[\w\d][\w\d-]*[\w\d]\.warc$"
            placeholder="coining-of-queerplatonic.warc"
            required
          />
          <div class="invalid-feedback" id="invalid-feedback-filename-{{ .Ordinal }}"></div>
        </div>
      </div>

      <div class="row mb-2 needs-validated url-input">
        <label class="col-sm-3 col-form-label" for="replayweb-url-url-input-{{ .Ordinal }}"
          >Archived URL</label
        >
        <div class="col">
          <input
            aria-describedby="invalid-feedback-url-{{ .Ordinal }}"
            class="form-control"
            id="replayweb-url-url-input-{{ .Ordinal }}"
            pattern="^https?://.*$"
            placeholder="https://kaz.dreamwidth.org/238564.html"
            required
            type="url"
          />
          <div class="invalid-feedback" id="invalid-feedback-url-{{ .Ordinal }}"></div>
        </div>
      </div>

      <div class="d-flex align-items-center">
        <button class="btn btn-primary mt-2 copy-button" type="button">Submit</button>
        <span class="form-text text-truncate d-none ms-3 text-nowrap url-output">
          <a class="me-2 text-truncate" href=""></a>
          {{ partial "archive/clipboard-copy-button" "" }}
        </span>
      </div>
    </form>
  </div>
</div>
