{{- .Page.Scratch.Set "replayweb" true -}}
<div class="replayweb-url-form card my-4">
  <div class="card-body">
    <form novalidate>
      <div class="row align-itesm-center mb-2 needs-validated slug-input">
        <label class="col-4 col-form-label" for="replayweb-url-slug-input-{{ .Ordinal }}"
          >Artifact Slug</label
        >
        <div class="col-6 flex-grow-1">
          <input
            aria-describedby="invalid-feedback-slug-{{ .Ordinal }}"
            class="my-auto form-control"
            id="replayweb-url-slug-input-{{ .Ordinal }}"
            placeholder="kaz-a-slash-romanticism"
          />
          <div class="invalid-feedback" id="invalid-feedback-slug-{{ .Ordinal }}"></div>
        </div>
      </div>

      <div class="row mb-2 needs-validated filename-input">
        <label class="col-4 col-form-label" for="replayweb-url-filename-input-{{ .Ordinal }}"
          >File Name</label
        >
        <div class="col-6 flex-grow-1">
          <input
            aria-describedby="invalid-feedback-filename-{{ .Ordinal }}"
            class="form-control"
            id="replayweb-url-filename-input-{{ .Ordinal }}"
            placeholder="coining-of-queerplatonic.warc"
          />
          <div class="invalid-feedback" id="invalid-feedback-filename-{{ .Ordinal }}"></div>
        </div>
      </div>

      <div class="row mb-2 needs-validated url-input">
        <label class="col-4 col-form-label" for="replayweb-url-url-input-{{ .Ordinal }}"
          >Archived URL</label
        >
        <div class="col-6 flex-grow-1">
          <input
            aria-describedby="invalid-feedback-url-{{ .Ordinal }}"
            class="form-control"
            id="replayweb-url-url-input-{{ .Ordinal }}"
            placeholder="https://kaz.dreamwidth.org/238564.html"
          />
          <div class="invalid-feedback" id="invalid-feedback-url-{{ .Ordinal }}"></div>
        </div>
      </div>

      <div class="row mt-3 text-nowrap align-items-center">
        <span class="col-4 align-items-center">
          <button class="btn btn-primary submit-button" type="button">Submit</button>
        </span>
        <span class="col-6 flex-grow-1 form-text text-truncate d-none text-nowrap url-output">
          <a class="me-3 text-truncate" href=""></a>
          {{ partial "archive/clipboard-copy-button" "" }}
        </span>
      </div>
    </form>
  </div>
</div>
