{{- $levelClass := "schema-field-0" -}}
{{- if gt (.Get "level") 0 -}}
  {{- $levelClass = print "schema-field-" (.Get "level") -}}
{{- end -}}

{{- with (.Get "level") }}
  {{- if eq . "0" }}
<dt class="schema-field-0">
  {{- else if eq . "1" }}
<dt class="schema-field-1">
  {{- else if eq . "2" }}
<dt class="schema-field-2">
  {{- else }}
    {{- errorf "not a support schema field level: %s" . }}
  {{- end }}
{{- else }}
<dt class="schema-field-0">
{{- end }}
  <code>{{ .Get "field" }}</code>
  <span class="badge rounded-pill bg-primary ms-1">{{ .Get "type" }}</span>
  {{- if eq (.Get "optional") "true" }}
  <span class="badge rounded-pill bg-secondary ms-1">optional</span>
  {{ end -}}
</dt>
<dd class="{{ $levelClass }}">
  {{ .Inner }}
</dd>
