{{ define "main" }}
  <div class="row flex-xl-nowrap">
    <div class="col-lg-5 col-xl-4 docs-sidebar d-none d-lg-block">
      <nav aria-label="Main navigation" class="docs-links">
        {{ partial "archive/sidebar.html" (dict "ctx" . "id" "list") }}
      </nav>
    </div>
    <main class="docs-content col-lg-11 mx-xl-auto">
      <h1 class="text-center">{{ .Title }}</h1>
      <p class="lead text-center">{{ .Params.summary | markdownify }}</p>
      <div class="row row-cols-1 row-cols-md-2 g-5">
        {{ range sort (where ($.Site.GetPage "/content/artifacts/_index.md").Pages "Section" "artifacts") "Params.fromYear" "desc" }}
          <div class="col">{{ .Render "card" -}}</div>
        {{ end }}
      </div>
    </main>
  </div>
{{ end }}
