{{ define "main" }}
  <div class="row flex-xl-nowrap">
    <div class="col-lg-5 col-xl-4 docs-sidebar d-none d-lg-block">
      <nav class="docs-links" aria-label="Main navigation">
        {{ partial "archive/sidebar.html" (dict "ctx" . "id" "single") }}
      </nav>
    </div>
    <main class="docs-content col-lg-11 mx-xl-auto">
      <h1 class="text-center">{{ .Title | markdownify }}</h1>
      <div class="row justify-content-center text-center">
        <p class="lead text-center">
          {{- if .Params.description }}
            {{ .Params.description | markdownify }}
          {{- else }}
            {{ .Params.summary | markdownify }}
          {{- end -}}
        </p>
        <p class="text-center">{{ partial "archive/year.html" . }}</p>
      </div>
      {{- if .Params.files }}
        <div class="row justify-content-center">
          <div class="col">
            {{ partial "archive/files.html" . }}
          </div>
        </div>
      {{ end -}}
      {{- if .Params.links }}
        {{ $hasAnyArchiveLinks := false -}}

        {{- range $link := .Params.links -}}
          {{- $url := urls.Parse $link.url -}}
          {{- if partial "archive/is-archive-url.html" $url -}}
            {{- $hasAnyArchiveLinks = true -}}
          {{- end -}}
        {{- end -}}

        <div class="row justify-content-center text-center">
          <div class="col">
            <h2>Links</h2>
            {{ if $hasAnyArchiveLinks -}}
            <p class="fs-6 text-muted">
              <i>
                <span>Links marked with </span>
                <svg
                  width="16"
                  height="16"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  {{ partial "use-icon.html" "archive-fill" }}
                </svg>
                <span class="visually-hidden">Archive Link</span>
                <span> are archived links.</span>
              </i>
            </p>
            {{- end }}
            {{ partial "archive/links.html" .Params.links }}
          </div>
        </div>
      {{ end -}}
      <div class="row justify-content-center">
        {{- if .Params.identities }}
          {{ partial "archive/category-list.html" (dict "ctx" . "category" "identities") }}
        {{ end -}}
        {{- if .Params.decades }}
          {{ partial "archive/category-list.html" (dict "ctx" . "category" "decades") }}
        {{ end -}}
        {{- if .Params.people }}
          {{ partial "archive/category-list.html" (dict "ctx" . "category" "people") }}
        {{ end -}}
      </div>
      <div class="row mt-4">
        <div class="col d-flex align-items-center justify-content-center fs-5">
          <span class="badge text-dark">ID</span>
          <code class="text-muted me-2">{{ .Params.id }}</code>
          <a
            id="artifact-id-help-link"
            aria-label="Help"
            href="{{ ref . "docs/contributing/api" }}"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="The artifact's unique ID, used in the Ace Archive API."
          >
            <div class="d-inline-flex align-center">
              <svg
                height="12"
                width="12"
                fill="currentColor"
                aria-hidden="true"
              >
                {{ partial "use-icon.html" "question-circle" }}
              </svg>
            </div>
          </a>
        </div>
      </div>
      <div class="row">
        <p class="edit-page">
          <a href="{{ ref . "/submit" }}?artifact={{ .Params.slug }}">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-edit-2"
            >
              <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
            </svg>
            Edit this artifact
          </a>
        </p>
      </div>
    </main>
  </div>
{{ end }}
