@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Fira Sans"), url("/fonts/vendor/fira/FiraSans-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Fira Sans"), url("/fonts/vendor/fira/FiraSans-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Fira Sans"), url("/fonts/vendor/fira/FiraSans-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local("Fira Sans"), url("/fonts/vendor/fira/FiraSans-Black.ttf") format("ttf");
}

@font-face {
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Fira Sans"), url("/fonts/vendor/fira/FiraSans-Italic.ttf") format("ttf");
}

@font-face {
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local("Fira Sans"), url("/fonts/vendor/fira/FiraSans-MediumItalic.ttf") format("ttf");
}

@font-face {
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local("Fira Sans"), url("/fonts/vendor/fira/FiraSans-BoldItalic.ttf") format("ttf");
}

@font-face {
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: local("Fira Sans"), url("/fonts/vendor/fira/FiraSans-BlackItalic.ttf") format("ttf");
}
