// Fix search suggestions not rendering properly when they contain inline markup.

#suggestions > * {
  display: flex;
}

#suggestions span {
  display: block;
  font-size: $font-size-base;
}

// Fix the footer taking up too much vertical space on large displays when the
// content doesn't push it down.

body:is(.home, .single) {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer.footer {
  margin-top: auto;
}

// Change the color gradient of the header bar.

.header-bar {
  border-image-source: linear-gradient(90deg, $primary, $primary-dark);
}
